@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    @apply text-primary;
  }
}

  .bg-\[\#599EEA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(89 158 234 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#844FF6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(132 79 246 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#F09468\] {
    --tw-bg-opacity: 1;
    background-color: rgb(240 148 104 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#FAB70A\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 183 10 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#0FB77A\] {
    --tw-bg-opacity: 1;
    background-color: rgb(15 183 122 / var(--tw-bg-opacity));
  }
